security:
    encoders:
        AppBundle\Entity\User: bcrypt
    providers:
        main:
            entity:
                class: AppBundle:User
                property: username
    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        main:
            pattern: ^/
            provider: main
            anonymous: ~
            security: true
            form_login:
                check_path: admin_login_check
                login_path: admin_login
                username_parameter: username
                password_parameter: password
                remember_me: true
            remember_me:
                secret: '%secret%'
                lifetime: 604800
                path: /
                remember_me_parameter: rememberMe
            logout:
                path: admin_logout
