<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    </head>
    <body>
        <h1>Новая регистрация</h1>
        <strong>Имя:</strong> {{ participant.firstname|e }}<br/>
        <strong>Фамилия:</strong> {{ participant.lastname|e }}<br/>
        <strong>E-mail:</strong> {{ participant.email|e }}
    </body>
</html>