<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    </head>
    <body style="background-color:#bcd9e3;margin:0;padding:20px">
        <div style="background-color:#fff;border-radius:10px;margin:0 auto;padding:20px;width:600px">
            <h1 style="text-align:center">Привет, {{ participant.firstname|e }}!</h1>
            <p style="margin:15px 0">
                Теперь ты Тайный Санта!
                А это значит, что тебе необходимо в обзятальном порядке выполнить два задания:
            </p>
            <ul style="list-style:disc;margin:0">
                <li>
                    Приготовить новогодний подарок
                    <strong>{{ recipient.dativeFirstname|e }} {{ recipient.dativeLastname|e }}</strong>.
                </li>
                <li>
                    Хранить в секрете личность свою и получателя подарка до самого Нового года.
                </li>
            </ul>
            <p>
                Пожалуйста, отнесись к выбору подарка со всей серьёзностью.
                Если ты не знаешь предпочтений получателя, то можно обойтись любым универсальным вариантом.
                Главное, чтобы подарок был от всей души!
            </p>
            <p>
                И, повторюсь, не стоит раскрывать кому-либо чью-либо личность &mdash; это только испортит всю магию данной игры.
            </p>
            <p>
                К тебе ещё одна просьба: пожалуйста, подтверди, что ты получил и внимательно прочёл данное письмо по
                <a href="http://santa.const-se.ru{{ path('general_confirm', {'participant': participant.id}) }}">этой ссылке</a>.
            </p>
            <p>
                Если у тебя появятся какие-нибудь вопросы по правилам игры, можешь смело обращаться к
                <a href="mailto:const.seoff@gmail.com">Косте</a>.
                Однако, при обращении, опять же, не забывай про секретность имён!
            </p>
            <hr/>
            <p>
                Внимание! Данное письмо было сгенерировано автоматически, поэтому отвечать на него нет смысла.
            </p>
        </div>
    </body>
</html>