.container_login {
  .login-form {
    width: 600px;
  }
}

.container_index {
  .success-card {
    max-width: 400px;
  }
}

@media (max-width: 575px) {
  .container_login {
    .login-form {
      width: 100%;
    }
  }
}

@media (min-width: 576px) {
  .container_login {
    .login-form {
      width: 500px;
    }
  }
}

@media (min-width: 992px) {
  .container_login {
    .login-form {
      width: 600px;
    }
  }
}