html,
body {
  min-height: 100%;
}

body {
  background: url('../images/background.jpg') center center;
}

@keyframes button-loading {
  0%, 80%, 100% {
    opacity: 0.3;
    transform: scale(0.5);
  }
  40% {
    opacity: 1;
    transform: scale(1);
  }
}

.button-loading {
  display: inline-block;
  text-align: center;

  span {
    animation: button-loading 1.5s infinite ease-in-out both;
    animation-delay: -0.3s;
    background-color: #fff;
    border-radius: 100%;
    display: inline-block;
    height: 10px;
    margin: 0 3px;
    width: 10px;

    &:first-child {
      animation-delay: -0.6s;
    }

    &:last-child {
      animation-delay: 0s;
    }
  }
}